In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from us import states


df = pd.read_csv("poverty.csv")

df.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD07,HD02_VD07,HD01_VD08,HD02_VD08,HD01_VD09,HD02_VD09,HD01_VD10,HD02_VD10,HD01_VD11,HD02_VD11
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; Income in the past 12 months below p...,Margin of Error; Income in the past 12 months ...,Estimate; Income in the past 12 months below p...,Margin of Error; Income in the past 12 months ...,Estimate; Income in the past 12 months below p...,...,Estimate; Income in the past 12 months at or a...,Margin of Error; Income in the past 12 months ...,Estimate; Income in the past 12 months at or a...,Margin of Error; Income in the past 12 months ...,Estimate; Income in the past 12 months at or a...,Margin of Error; Income in the past 12 months ...,Estimate; Income in the past 12 months at or a...,Margin of Error; Income in the past 12 months ...,Estimate; Income in the past 12 months at or a...,Margin of Error; Income in the past 12 months ...
1,0500000US01001,1001,"Autauga County, Alabama",1425,384,115,63,86,55,61,...,1310,386,759,323,510,271,249,134,551,191
2,0500000US01003,1003,"Baldwin County, Alabama",3418,537,508,176,254,130,141,...,2910,507,1455,363,772,256,683,211,1455,324
3,0500000US01005,1005,"Barbour County, Alabama",671,128,298,111,198,86,147,...,373,85,155,66,52,29,103,54,218,70
4,0500000US01007,1007,"Bibb County, Alabama",787,265,194,127,179,129,120,...,593,243,434,209,367,203,67,51,159,101

In [3]:
df.set_index("GEO.display-label", inplace=True)
df.head()

,GEO.id,GEO.id2,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,HD02_VD04,...,HD01_VD07,HD02_VD07,HD01_VD08,HD02_VD08,HD01_VD09,HD02_VD09,HD01_VD10,HD02_VD10,HD01_VD11,HD02_VD11
GEO.display-label,,,,,,,,,,,,,,,,,,,,,
Geography,Id,Id2,Estimate; Total:,Margin of Error; Total:,Estimate; Income in the past 12 months below p...,Margin of Error; Income in the past 12 months ...,Estimate; Income in the past 12 months below p...,Margin of Error; Income in the past 12 months ...,Estimate; Income in the past 12 months below p...,Margin of Error; Income in the past 12 months ...,...,Estimate; Income in the past 12 months at or a...,Margin of Error; Income in the past 12 months ...,Estimate; Income in the past 12 months at or a...,Margin of Error; Income in the past 12 months ...,Estimate; Income in the past 12 months at or a...,Margin of Error; Income in the past 12 months ...,Estimate; Income in the past 12 months at or a...,Margin of Error; Income in the past 12 months ...,Estimate; Income in the past 12 months at or a...,Margin of Error; Income in the past 12 months ...
"Autauga County, Alabama",0500000US01001,1001,1425,384,115,63,86,55,61,48,...,1310,386,759,323,510,271,249,134,551,191
"Baldwin County, Alabama",0500000US01003,1003,3418,537,508,176,254,130,141,96,...,2910,507,1455,363,772,256,683,211,1455,324
"Barbour County, Alabama",0500000US01005,1005,671,128,298,111,198,86,147,77,...,373,85,155,66,52,29,103,54,218,70
"Bibb County, Alabama",0500000US01007,1007,787,265,194,127,179,129,120,87,...,593,243,434,209,367,203,67,51,159,101

In [4]:
df.drop(df.columns[0:2], inplace = True, axis = 1)
df.drop(df.columns[4:22], inplace = True, axis = 1)
df.head()

,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02
GEO.display-label,,,,
Geography,Estimate; Total:,Margin of Error; Total:,Estimate; Income in the past 12 months below p...,Margin of Error; Income in the past 12 months ...
"Autauga County, Alabama",1425,384,115,63
"Baldwin County, Alabama",3418,537,508,176
"Barbour County, Alabama",671,128,298,111
"Bibb County, Alabama",787,265,194,127

In [5]:
df.drop(df.columns[1:4], inplace = True, axis = 1)
df.head()

                                HD01_VD01
GEO.display-label
Geography                Estimate; Total:
Autauga County, Alabama              1425
Baldwin County, Alabama              3418
Barbour County, Alabama               671
Bibb County, Alabama                  787

In [6]:
renamed_df = df.rename(columns={"HD01_VD01":"Total"})
renamed_df.head()

                                    Total
GEO.display-label
Geography                Estimate; Total:
Autauga County, Alabama              1425
Baldwin County, Alabama              3418
Barbour County, Alabama               671
Bibb County, Alabama                  787

In [7]:
renamed_df.drop(['Geography'], axis = 0, inplace = True)

In [8]:
renamed_df.reset_index(drop=False, inplace = True)

In [9]:
poverty1_df = renamed_df.rename(columns={"GEO.display-label":"County"})
poverty1_df.head()

                    County Total
0  Autauga County, Alabama  1425
1  Baldwin County, Alabama  3418
2  Barbour County, Alabama   671
3     Bibb County, Alabama   787
4   Blount County, Alabama  1667

In [10]:
poverty2 =poverty1_df.replace(regex=[' County'], value='')
poverty2.head()

             County Total
0  Autauga, Alabama  1425
1  Baldwin, Alabama  3418
2  Barbour, Alabama   671
3     Bibb, Alabama   787
4   Blount, Alabama  1667

In [11]:
POV3 = poverty2['County'].str.split(pat = ",",expand= True)
poverty2['county']=POV3[0]
poverty2['state']=POV3[1]
poverty2.drop(columns =["County"], inplace = True)
poverty2.head()

  Total   county     state
0  1425  Autauga   Alabama
1  3418  Baldwin   Alabama
2   671  Barbour   Alabama
3   787     Bibb   Alabama
4  1667   Blount   Alabama

In [12]:

us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Palau': 'PW',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

poverty2['state'] = poverty2['state'].map(lambda name: us_state_abbrev[name.strip()])
poverty2.head()

  Total   county state
0  1425  Autauga    AL
1  3418  Baldwin    AL
2   671  Barbour    AL
3   787     Bibb    AL
4  1667   Blount    AL

In [13]:
poverty2['county'] = poverty2['county'].map(str) + ", " + poverty2['state']
poverty2 = poverty2[["Total", "county"]]
poverty2.head()

  Total       county
0  1425  Autauga, AL
1  3418  Baldwin, AL
2   671  Barbour, AL
3   787     Bibb, AL
4  1667   Blount, AL

In [14]:
poverty2.to_csv("Poverty_Total_Clean2.csv")